<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net46" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net46" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net46" />
  <package id="Emgu.CV.runtime.windows" version="4.3.0.3890" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net46" />
  <package id="Guna.UI2.WinForms" version="2.0.4" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net46" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net46" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net46" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net46" />
  <package id="MySql.Data" version="8.0.30" targetFramework="net472" />
  <package id="MySqlBackup.NET" version="2.3.6.1" targetFramework="net472" />
  <package id="Nager.Date" version="1.37.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net46" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net46" />
  <package id="Syncfusion.Blazor.Calendars" version="20.4.0.43" targetFramework="net472" />
  <package id="Syncfusion.Blazor.Inputs" version="20.4.0.43" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.3.0.48" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="19.3.0.48" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="19.3.0.48" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Drawing.Common" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net46" requireReinstallation="true" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>